:root {
    --bd-collor: #000;
    --mn-collor: #CCC;
    --font1: "nserif";
    --font2: "poetsen";
    --font3: "panton";
    --font4: "dreams";
}

@font-face {
    font-family: "panton";
    src: url(../fonts/panton/Panton-Trial-Black.ttf);
    src: url(../fonts/panton/Panton-Trial-BlackItalic.ttf);
    src: url(../fonts/panton/Panton-Trial-Bold.ttf);
    src: url(../fonts/panton/Panton-Trial-BoldItalic.ttf);
}

@font-face {
    font-family: "poetsen";
    src: url(../fonts/poetsen_one/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: "nserif";
    src: url(../fonts/serif/SERIBL__.ttf);
    src: url(../fonts/serif/SERIBLI_.ttf);
    src: url(../fonts/serif/SERIM___.ttf);
    src: url(../fonts/serif/SERIMI__.ttf);
    src: url(../fonts/serif/SERIN___.ttf);
    src: url(../fonts/serif/SERINI__.ttf);
}

@font-face {
    font-family: "dreams";
    src: url(../fonts/sunlight_dreams/SunlightDreams.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bd-collor);
}

main {
    background-color: var(--mn-collor);
    max-width: 1120px;
    min-width: 320px;
    padding: 25px;
    margin: auto;
    border-radius: 5px;
}

code {
    font-weight: bolder;
    color: red;
}

main p {
    font-family: "Montserrat";
    font-size: 20px;
    text-indent: 25px;
    margin: 20px 0;
}

main ul {
    background-color: aqua;
    /* display: inline-block; */
    border-radius: 15px;
    padding: 20px;
}

main li {
    font-size: 18px;
    margin: 5px;
}

picture img {
    max-width: 1050px;
}

figcaption {
    margin-bottom: 20px;
}

.fig-top {
    margin: 0;
}

h1, h2, h3, h4 {
    color: rgb(162, 135, 235);
    margin: 45px auto 0 auto;
}

h1 {
    text-align: center;
    font-family: var(--font4);
}

h2 {
    font-family: var(--font3);
}

h3 {
    font-family: var(--font2);
}


.separado {
    margin-bottom: 20px;
}
.next-aula,
.back-aula {
    color: aqua;
    padding: 15px;
}

.next-aula {
    /* background-color: rebeccapurple; */
    display: block;
    max-width: 1120px;
    margin: auto;
    text-align: right;
}

.back-aula {
    /* background-color: rebeccapurple; */
    display: block;
    max-width: 1120px;
    margin: auto;
    text-align: left;
}

.junto {
    margin-top: 0;
    margin-bottom: 0;
}