:root {
    --bd-collor: #000;
    --mn-collor: #CCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bd-collor);
}

main {
    background-color: var(--mn-collor);
    max-width: 1120px;
    min-width: 320px;
    padding: 25px;
    margin: auto;
    border-radius: 5px;
}

main p {
    font-size: 20px;
    text-indent: 25px;
    margin: 20px 0;
}

main ul {
    background-color: aqua;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
}

main li {
    font-size: 18px;
    margin: 5px;
}

h1 {
    text-align: center;
    color: blue;
    margin: 25px;
}

h2 {
    color: blue;
}

.next-aula,
.back-aula {
    color: aqua;
    padding: 15px;
}

.next-aula {
    /* background-color: rebeccapurple; */
    display: block;
    max-width: 1120px;
    margin: auto;
    text-align: right;
}

.back-aula {
    /* background-color: rebeccapurple; */
    display: block;
    max-width: 1120px;
    margin: auto;
    text-align: left;
}